@model iBlogs.Site.Web.Views.Shared.Components.SideBar.SideBarViewModel
<div class="GlobalSideBar" data-za-detail-view-path-module="RightSideBar">
    <div>
        <div class="Sticky">
            <div class="Card">
                <div class="GlobalWrite">
                    <div class="GlobalWrite-nav">
                        <a class="GlobalWrite-navItem" href="https://cnblogs.com/coderayu" target="_blank" rel="noopener noreferrer" title="博客园" style="color: rgb(0, 132, 255);">
                            <svg class="Zi Zi--WriteArticle GlobalWrite-navIcon" fill="currentColor" width="24" height="24" viewBox="0 0 1024 1024">
                                <path d="M512 0C229.234472 0 0 229.226146 0 512 0 794.765528 229.234472 1024 512 1024S1024 794.765528 1024 512C1024 229.226146 794.765528 0 512 0zM228.776585 836.066862c-63.163317 0-114.371642-51.208325-114.371642-114.371642S165.613268 607.323577 228.776585 607.323577s114.371642 51.208325 114.371643 114.371643c0 63.171642-51.208325 114.371642-114.371643 114.371642z m420.555968-89.612488a391.867317 391.867317 0 0 1-1.989724 16.975089c-7.259577 30.203837-33.950179 52.898341-66.376845 52.898342-38.104455 0-68.990959-34.158309-68.99096-72.204488 0-5.877593 0.81587-11.463805 2.206179-16.775284-1.756618-131.096976-103.981789-237.867707-233.205593-246.883903l-6.343805-0.740943-1.015675-0.041626c-5.453008-0.216455-10.930992-0.732618-16.142569-2.331057a67.958634 67.958634 0 0 1-47.91987-65.078114c0-37.604943 30.245463-68.091837 67.550699-68.091837 0.299707 0 0.591089 0.041626 0.890797 0.049951l0.124878-0.049951c205.707447 2.139577 371.836878 169.484488 371.836878 375.699772 0 7.717463-0.341333 15.34335-0.824195 22.94426 0.066602 1.207154 0.19148 2.397659 0.199805 3.629789z m254.085203-63.329821c-10.856065 45.172553-25.80813 104.114992-74.310764 104.114992-56.994341 0-48.236228-66.085463-48.236228-122.996553 0-8.791415 1.223805-17.149919 3.296781-25.100488-2.639089-196.108488-169.834146-387.812943-363.137041-401.291447l-35.806699-5.827642c-42.117203-7.492683-111.715902-3.255154-111.715903-49.193626 0-56.253398 50.234276-81.861724 106.038114-81.861724 0.449561 0 0.882472 0.058276 1.332033 0.066602l0.183154-0.066602c307.724488 3.180228 526.252748 208.546341 526.252748 517.028423a538.474146 538.474146 0 0 1-1.23213 34.316488c0.108228 1.806569 0.291382 3.596488 0.308033 5.428032a542.72 542.72 0 0 1-2.972098 25.383545z" fill="#297BCE" />
                            </svg>
                            <div class="GlobalWrite-navTitle">博客园</div>
                        </a>
                        <a class="GlobalWrite-navItem" onmousemove="WeChatShow()" onmouseout="WeChatHide()" style="color: rgb(0, 132, 255);">
                            <svg class="Zi Zi--Paper GlobalWrite-navIcon" fill="currentColor" width="24" height="24" viewBox="0 0 1025 1024">
                                <path d="M1024.16 694.816c0-149.92-143.104-271.392-319.584-271.392-176.576 0-319.68 121.504-319.68 271.392S528 966.208 704.576 966.208c55.456 0 107.648-12.096 153.184-33.248l125.984 54.528-14.592-140.544c34.784-43.392 55.04-95.808 55.04-152.128zM596.832 621.28c-25.152 0-45.472-20.352-45.472-45.472s20.32-45.472 45.472-45.472c25.12 0 45.44 20.384 45.44 45.472s-20.384 45.472-45.44 45.472zm215.392 0c-25.056 0-45.44-20.352-45.44-45.472s20.384-45.472 45.44-45.472c25.184 0 45.536 20.384 45.536 45.472s-20.352 45.472-45.536 45.472zM704.576 387.488c49.376 0 96.416 8.8 139.264 24.64.32-5.728.992-11.232.992-16.992 0-198.08-189.152-358.624-422.432-358.624C189.184 36.512.032 197.024.032 395.136c0 74.496 26.816 143.776 72.704 201.12L53.472 781.92l166.432-72.096c41.216 19.2 86.784 32.16 134.88 38.784-3.616-17.504-5.824-35.424-5.824-53.792.032-169.44 159.552-307.296 355.616-307.296zm-139.808-209.6c33.184 0 60 26.88 60 60 0 33.184-26.816 60.064-60 60.064s-60.032-26.88-60.032-60.064c0-33.152 26.88-60 60.032-60zM280.032 297.952c-33.184 0-60-26.88-60-60.064 0-33.152 26.848-60 60-60 33.184 0 60.032 26.88 60.032 60s-26.88 60.064-60.032 60.064z" fill="#51C332" />
                            </svg>
                            <div class="GlobalWrite-navTitle">公众号</div>
                        </a>
                        <a class="GlobalWrite-navItem" href="https://blog.csdn.net/only_yu_yy" target="_blank" rel="noopener noreferrer" title="CSDN" style="color: rgb(0, 132, 255);">
                            <svg class="Zi Zi--WritePin GlobalWrite-navIcon" fill="currentColor" width="24" height="24" viewBox="0 0 1141 1024">
                                <path d="M1141.351404 39.055942l-28.91333 218.474629c-126.144728-19.927251-251.601043-38.376709-377.75495-27.674187-115.460564 9.802996-227.405635 32.180995-309.124802 122.987208-150.018878 166.696821-68.391499 396.461416 158.252293 437.463272 141.115408 25.52634 283.919721 11.785624 425.448176-8.123269-5.452228 112.440727-5.764308 95.303843-10.674985 205.229569-1.073924 24.057726 4.277337 14.612705-161.648461 31.914809-176.004159 9.004437-351.879815 11.189-520.550085-52.888447C156.545029 905.721534 30.675666 809.16019 5.176863 630.815428c-26.251468-183.595056 48.803865-331.796524 192.516883-446.128091C413.36883 13.098197 790.802521-47.271 1141.351404 39.055942z" fill="#CA0C16" />
                            </svg>
                            <div class="GlobalWrite-navTitle">CSDN</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="WeChat" class="Pc-card Card" style="display: none">
                <img class="Banner-image" src="https://raw.githubusercontent.com/liuzhenyulive/iBlogs/Development/Pic/coderayu.png" alt="码农阿宇">
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-categoryList">
                    <li class="GlobalSideBar-categoryItem">
                        <a href="/allcategories" title="分类" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(0, 132, 255);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Ebook"
                                     fill="currentColor" viewBox="0 0 512 512" width="24" height="24">
                                    <g>
                                        <path d="M467,331h-15v-15c0-24.813-20.187-45-45-45H271v-30c14.095,0,30.95,0,45,0c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-30h45c24.813,0,45-20.187,45-45V45c0-24.813-20.187-45-45-45H166c-24.813,0-45,20.187-45,45v91c0,24.813,20.187,45,45,45h45v30h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15c14.05,0,30.905,0,45,0v30H105c-24.813,0-45,20.187-45,45v15H45c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31H45c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15H90v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45H90v-15c0-8.271,6.729-15,15-15h136v30h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45h-15v-30h136c8.271,0,15,6.729,15,15v15h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30C512,351.187,491.813,331,467,331z M105,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H105z M166,151c-8.271,0-15-6.729-15-15V45c0-8.271,6.729-15,15-15h180c8.271,0,15,6.729,15,15v91c0,8.271-6.729,15-15,15C309.96,151,201.911,151,166,151z M286,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H286z M241,211v-30h30v30H241z M482,406c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15h60c8.271,0,15,6.729,15,15V406z" />
                                    </g>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">分类</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-categoryItem">
                        <a href="/alltags" title="标签" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(0, 132, 255);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Org"
                                     fill="currentColor" viewBox="0 0 425.7 425.7" width="24" height="24">
                                    <g><g><path d="M167.538,231.652c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C172.146,235.236,170.61,232.164,167.538,231.652z" /></g></g>
                                    <g><g><path d="M202.354,238.82c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C206.962,241.892,204.914,239.332,202.354,238.82z" /></g></g>
                                    <g><g><path d="M236.658,245.988c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C241.266,249.06,239.218,246.5,236.658,245.988z" /></g></g>
                                    <g><g><path d="M412.274,0.74c-2.56-1.536-5.632-0.512-7.168,1.536C367.218,65.764,313.97,108.26,275.57,132.324c-1.536,0-3.584,0-5.12,0l-55.296,4.096l-33.28-6.144c-10.24-2.048-20.48-1.024-30.208,3.072C110.706,107.236,57.97,65.252,20.594,2.788c-1.536-2.56-4.608-3.072-7.168-1.536S10.354,5.86,11.89,8.42c36.864,61.952,88.064,104.448,129.536,131.072c-10.752,7.68-17.92,18.944-20.48,31.744l-35.84,176.64c-5.632,27.648,12.288,55.296,39.936,60.928l77.824,15.872c3.584,0.512,6.656,1.024,10.24,1.024c17.92,0,34.816-9.728,44.032-25.088l32.768-2.56c12.8-1.024,24.576-7.168,33.28-16.896c8.704-9.728,12.8-22.528,11.776-35.328l-12.8-167.936c-1.536-19.456-14.848-35.84-32.256-41.984c38.4-26.112,88.064-67.584,123.904-128C415.346,5.348,414.834,2.276,412.274,0.74z M255.09,382.692c-5.632,20.992-27.136,35.328-49.664,31.232l-77.824-15.872c-22.528-4.608-36.864-26.624-32.256-48.64l35.84-176.64c2.048-10.752,8.704-19.968,17.92-26.112c1.024-0.512,1.536-1.024,2.56-1.536c19.456,11.776,35.84,19.968,46.592,25.088c-4.608,3.072-7.68,7.68-8.704,13.824c-1.024,5.632,0,11.776,3.072,16.896c3.072,5.12,8.192,8.192,13.824,9.728c1.536,0.512,3.072,0.512,4.608,0.512c4.096,0,8.704-1.024,12.288-3.584c5.12-3.072,8.192-8.192,9.728-13.824c1.024-5.632,0-11.776-3.072-16.896c-3.072-4.608-7.68-7.68-13.312-9.216c-0.512,0-22.016-8.192-52.224-26.112c2.56-0.512,5.632-1.024,8.192-1.024s5.632,0.512,8.192,1.024l77.824,15.872c22.528,4.608,36.864,26.624,32.256,48.64L255.09,382.692z M199.282,185.572c1.024-5.632,6.144-9.728,11.776-9.728c1.024,0,1.536,0,2.56,0c3.072,0.512,5.632,2.56,7.68,5.12c1.536,2.56,2.56,5.632,1.536,8.704c-0.512,3.072-2.56,5.632-5.12,7.68c-2.56,1.536-5.632,2.56-8.704,1.536c-3.072-0.512-5.632-2.56-7.68-5.12C199.282,191.716,198.77,188.644,199.282,185.572zM311.922,177.892l12.8,167.936c1.536,20.992-14.336,39.424-35.328,40.96l-27.136,2.048c0.512-2.048,1.024-3.584,1.536-5.632l12.8-62.976l1.536,25.6c0,2.56,2.56,4.608,5.12,4.608c0,0,0,0,0.512,0c3.072,0,5.12-2.56,4.608-5.632l-4.096-62.976l15.36-75.264c5.632-27.648-12.288-55.296-39.936-60.928l-8.704-1.536l19.456-1.536C291.954,141.028,310.386,156.9,311.922,177.892z" /></g></g>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">标签</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-categoryItem">
                        <a href="https://github.com/liuzhenyulive/" target="_blank" title="项目" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(15, 136, 235);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Edit" viewBox="0 0 512 512" fill="currentColor" width="24" height="24">
                                    <path d="m256 0c-140.699219 0-256 116.300781-256 257 0 139.882812 114.25 255 256 255 141.574219 0 256-114.945312 256-255 0-140.699219-115.300781-257-256-257zm45 477.5c-14.398438 3-29.699219 4.5-45 4.5s-30.601562-1.5-45-4.5v-70.199219c0-16.800781 4.5-22.800781 10.5-30.902343 3.054688-3.492188 4.898438-6.625 18.597656-27.296876l-23.097656-3.601562c-59.402344-8.699219-82.800781-39.601562-92.101562-63.601562-12-32.097657-5.699219-72.300782 15.902343-97.796876 3.300781-3.902343 6-10.503906 3.601563-17.402343-4.503906-13.800781-3.902344-35.699219-.902344-44.101563 15.90625 2.273438 32.261719 13.667969 45.902344 21.902344 6.285156 3.667969 9.582031 2.699219 12.597656 3 10.960938-2.28125 28.058594-7.800781 54.300781-7.800781 16.199219 0 33.300781 2.398437 50.101563 7.199219 3.003906-.070313 7.832031 2.484374 16.199218-2.398438 14.257813-8.6875 30.058594-19.691406 45.898438-21.902344 3 8.402344 3.601562 30.300782-.898438 44.101563-2.402343 6.898437.296876 13.5 3.601563 17.402343 21.597656 25.5 27.898437 65.699219 15.898437 97.796876-9.300781 24-32.699218 54.902343-92.101562 63.601562l-23.097656 3.601562c14.160156 21.367188 15.652344 23.929688 18.601562 27.296876 5.996094 8.101562 10.496094 14.101562 10.496094 30.902343zm30-8.699219v-61.5c0-17.101562-3.601562-28.5-8.402344-36.902343 45.601563-12.296876 78.003906-39.300782 92.402344-78 15.300781-40.796876 8.402344-89.398438-17.101562-123 4.503906-20.097657 4.503906-52.199219-6.296876-67.199219-4.800781-6.597657-11.402343-10.199219-19.800781-10.199219-.300781 0-.300781 0-.300781 0-23.261719 1.257812-41.570312 12.972656-61.199219 24.898438-18-4.800782-36.300781-7.199219-54.601562-7.199219-18.597657 0-37.199219 2.699219-53.695313 7.199219-20.664062-12.460938-38.796875-23.671876-62.703125-24.898438-7.5 0-14.101562 3.601562-18.902343 10.199219-10.796876 15-10.796876 47.101562-6.296876 67.199219-25.503906 33.601562-32.402343 82.5-17.101562 123 14.398438 38.699218 46.800781 65.703124 92.402344 78-3.722656 6.511718-6.667969 14.914062-7.828125 26.285156-9.210938 3.175781-17.199219 4.210937-24.628907 2.027344-7.835937-2.316407-13.941406-7.546876-19.246093-16.46875-11.914063-20.015626-32.207031-36.355469-55.3125-34.230469l2.636719 29.882812c10.699218-.980469 21.347656 10.339844 26.878906 19.671875 9.125 15.367188 21.417968 25.445313 36.546875 29.914063 11.230469 3.308593 21.496093 3.230469 32.550781.871093v40.449219c-87.300781-30.601562-151-114-151-211.800781 0-124.199219 101.800781-227 226-227s226 102.800781 226 227c0 97.800781-63.699219 181.199219-151 211.800781zm0 0">
                                    </path>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">项目</span>
                        </a>
                    </li>
                </ul>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Announcement))
            {
                <div class="Card">
                    <ul class="GlobalSideBar-navList">
                        <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                            <a class="Button GlobalSideBar-navLink Button--plain">
                                <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                     width="18" height="18" viewBox="0 0 463 463">
                                    <g><path d="M453.627,64.526c-5.957-4.481-13.48-5.864-20.641-3.8L38.44,174.538H23.5c-12.958,0-23.5,10.542-23.5,23.5v64c0,12.958,10.542,23.5,23.5,23.5h14.94L112,306.757v25.523c0,21.041,14.119,39.809,34.335,45.64l82.217,23.716c3.661,1.057,7.376,1.576,11.059,1.575c8.425,0,16.669-2.721,23.635-7.962C273.258,387.716,279,376.212,279,363.683v-8.753l153.986,44.419c2.178,0.628,4.389,0.938,6.58,0.938c5.012,0,9.917-1.619,14.062-4.737c5.957-4.481,9.373-11.326,9.373-18.779V83.305C463,75.852,459.584,69.007,453.627,64.526z M47,272.396V187.68L416,81.238v297.6L47,272.396z M15,262.038v-64c0-4.687,3.813-8.5,8.5-8.5H32v81h-8.5C18.813,270.538,15,266.724,15,262.038z M264,363.683c0,7.771-3.562,14.907-9.771,19.578c-6.209,4.672-14.052,6.116-21.519,3.962l-82.217-23.716C136.66,359.517,127,346.676,127,332.28v-21.196l137,39.519V363.683zM448,376.77c0,2.696-1.236,5.172-3.39,6.792c-2.155,1.621-4.876,2.123-7.466,1.375L431,383.165V76.911l6.144-1.772c2.591-0.748,5.311-0.246,7.466,1.375c2.154,1.62,3.39,4.096,3.39,6.792V376.77z" /><path d="M390.712,114.031c-1.148-3.979-5.304-6.274-9.285-5.127l-16.009,4.618c-3.98,1.148-6.275,5.305-5.127,9.285c0.948,3.285,3.946,5.423,7.203,5.423c0.688,0,1.388-0.096,2.082-0.296l16.009-4.618C389.565,122.169,391.86,118.011,390.712,114.031z" /><path d="M333.417,122.754l-120,34.615c-3.98,1.147-6.275,5.305-5.127,9.285c0.948,3.285,3.946,5.423,7.203,5.423c0.688,0,1.388-0.096,2.082-0.296l120-34.615c3.98-1.147,6.275-5.305,5.127-9.285C341.553,123.901,337.398,121.604,333.417,122.754z" /></g>
                                </svg><span class="GlobalSideBar-navText">通知公告</span>
                            </a>
                        </li>
                        <li>
                            <div style="padding: 10px 10px 10px">
                                <span class="GlobalSideBar-navText">
                                    @Html.Raw(Model.Announcement)
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            }

            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M5 14a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">博客信息</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                 fill="currentColor" viewBox="1 -17 511.99926 511" width="18" height="18"><path d="m504.035156 4.523438c-5.019531-3.777344-11.519531-4.980469-17.554687-3.246094-23.167969 6.652344-52.695313 4.773437-90.078125 2.398437-23.40625-1.488281-49.933594-3.175781-80.402344-3.175781-23.875 0-45.328125 10.527344-60 27.167969-14.671875-16.640625-36.121094-27.167969-60-27.167969-30.464844 0-56.996094 1.6875-80.402344 3.175781-37.382812 2.378907-66.910156 4.257813-90.078125-2.398437-6.035156-1.734375-12.535156-.53125-17.550781 3.246094-5.019531 3.78125-7.96875 9.695312-7.96875 15.976562v331.796875c-.0546875 21.40625 8.242188 41.542969 23.359375 56.699219s35.234375 23.503906 56.640625 23.503906h145c11.046875 0 20-8.953125 20-20s-8.953125-20-20-20h-145c-10.703125 0-20.761719-4.171875-28.320312-11.75-7.558594-7.578125-11.707032-17.648438-11.679688-28.402344v-10.609375c11.777344 6.828125 25.433594 10.761719 40 10.761719h149c4.445312 0 7.488281 2.761719 8.855469 5.34375 3.589843 6.777344 10.519531 10.644531 17.691406 10.644531 3.15625 0 6.359375-.746093 9.339844-2.328125 6.023437-3.1875 9.738281-9.015625 10.492187-15.300781.390625-1.558594.621094-3.179687.621094-4.859375v-265.5c0-22.054688 17.941406-40 40-40 29.195312 0 55.050781 1.644531 77.863281 3.09375 29.832031 1.898438 55.132813 3.507812 78.136719 1.011719v143.894531c0 11.046875 8.953125 20 20 20s20-8.953125 20-20v-168c0-6.28125-2.949219-12.195312-7.964844-15.976562zm-424.035156 307.976562c-22.054688 0-40-17.945312-40-40v-227.894531c23.003906 2.496093 48.300781.886719 78.132812-1.011719 22.816407-1.449219 48.671876-3.09375 77.867188-3.09375 22.054688 0 40 17.945312 40 40v232.492188c-2.296875-.324219-4.632812-.492188-7-.492188zm122-199c0 11.046875-8.953125 20-20 20h-87c-11.046875 0-20-8.953125-20-20s8.953125-20 20-20h87c11.046875 0 20 8.953125 20 20zm-30 80c0 11.046875-8.953125 20-20 20h-57c-11.046875 0-20-8.953125-20-20s8.953125-20 20-20h57c11.046875 0 20 8.953125 20 20zm237.589844 61.558594-109.800782 109.558594c-2.332031 2.328124-4.054687 5.195312-5.011718 8.347656l-23.914063 78.722656c-2.117187 6.980469-.269531 14.5625 4.820313 19.78125 3.816406 3.910156 9 6.035156 14.320312 6.035156 1.777344 0 3.574219-.238281 5.335938-.730468l80.726562-22.359376c3.320313-.921874 6.347656-2.683593 8.789063-5.121093l109.574219-109.363281c23.390624-23.394532 23.390624-61.460938 0-84.855469-23.394532-23.394531-61.460938-23.394531-84.839844-.015625zm-49.273438 162.207031-40.609375 11.25 11.882813-39.125 74.089844-73.925781 28.289062 28.289062zm105.839844-105.636719-3.875 3.867188-28.285156-28.285156 3.863281-3.851563c7.796875-7.800781 20.484375-7.800781 28.28125 0 7.800781 7.796875 7.800781 20.484375.015625 28.269531zm0 0" /></svg>
                            <span class="GlobalSideBar-navText">文章数目</span><span class="GlobalSideBar-navNumber">@Model.ContentCount</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon" x="0px" y="0px"
                                 viewBox="0 0 60 60" width="18" height="18">
                                <g>
                                    <path d="M54.07,1H15.93C12.66,1,10,3.66,10,6.93V13h34.07c4.372,0,7.93,3.557,7.93,7.929V34h2.07c3.27,0,5.93-2.66,5.93-5.93V6.93C60,3.66,57.34,1,54.07,1z" />
                                    <path d="M44.07,15H5.93C2.66,15,0,17.66,0,20.929V42.07C0,45.34,2.66,48,5.93,48H12v10c0,0.413,0.254,0.784,0.64,0.933C12.757,58.978,12.879,59,13,59c0.276,0,0.547-0.115,0.74-0.327L23.442,48H44.07c3.27,0,5.93-2.66,5.93-5.93V20.929C50,17.66,47.34,15,44.07,15z M12,25.015h14c0.553,0,1,0.448,1,1s-0.447,1-1,1H12c-0.553,0-1-0.448-1-1S11.447,25.015,12,25.015zM39,39.015H12c-0.553,0-1-0.448-1-1s0.447-1,1-1h27c0.553,0,1,0.448,1,1S39.553,39.015,39,39.015z M39,33.015H12c-0.553,0-1-0.448-1-1s0.447-1,1-1h27c0.553,0,1,0.448,1,1S39.553,33.015,39,33.015z" />
                                </g>
                            </svg>
                            <span class="GlobalSideBar-navText">评论数目</span><span class="GlobalSideBar-navNumber">@Model.CommentCount</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                 fill="currentColor" viewBox="0 0 485.213 485.212" width="18" height="18">
                                <g>
                                    <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906zM454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584zM30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891zM303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163C424.562,370.692,417.781,363.906,409.399,363.906z" />
                                </g>
                            </svg><span class="GlobalSideBar-navText">运行时间</span><span class="GlobalSideBar-navNumber">@Model.RunTime</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                 fill="currentColor" viewBox="0 0 60 60" width="18" height="18">
                                <g>
                                    <path d="M54,58h-3v-4h-5V43.778c0-2.7-1.342-5.208-3.589-6.706L31.803,30l10.608-7.072C44.658,21.43,46,18.922,46,16.222V6h5V2h3c0.552,0,1-0.447,1-1s-0.448-1-1-1h-3h-1H10H9H6C5.448,0,5,0.447,5,1s0.448,1,1,1h3v4h5v10.222c0,2.7,1.342,5.208,3.589,6.706L28.197,30l-10.608,7.072C15.342,38.57,14,41.078,14,43.778V54H9v4H6c-0.552,0-1,0.447-1,1s0.448,1,1,1h3h1h40h1h3c0.552,0,1-0.447,1-1S54.552,58,54,58z M18.698,21.264C17.009,20.137,16,18.252,16,16.222V6h28v10.222c0,2.03-1.009,3.915-2.698,5.042L30,28.798L18.698,21.264z M16,43.778c0-2.03,1.009-3.915,2.698-5.042L30,31.202l11.302,7.534C42.991,39.863,44,41.748,44,43.778V54H16V43.778z" />
                                    <path d="M20.917,17.936C20.343,17.553,20,16.912,20,16.222V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v2.222c0,1.361,0.676,2.624,1.808,3.378l4.638,3.092c0.17,0.113,0.363,0.168,0.554,0.168c0.323,0,0.64-0.156,0.833-0.445c0.306-0.46,0.182-1.08-0.277-1.387L20.917,17.936z" />
                                    <path d="M40.192,41.26l-4.638-3.092c-0.46-0.307-1.08-0.183-1.387,0.277c-0.306,0.46-0.182,1.08,0.277,1.387l4.638,3.092C39.657,43.307,40,43.947,40,44.638v2.222c0,0.553,0.448,1,1,1s1-0.447,1-1v-2.222C42,43.276,41.324,42.014,40.192,41.26z" />
                                </g>
                            </svg><span class="GlobalSideBar-navText">最后活动</span><span class="GlobalSideBar-navNumber">@Model.LastActiveTime 前</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M14.553 20.78c.862-.651 1.39-1.792 1.583-3.421.298-2.511-.656-4.904-2.863-7.179.209 2.291.209 3.73 0 4.314-.41 1.143-1.123 1.983-1.91 2.03-1.35.079-2.305-.512-2.863-1.774-.676 1.25-.782 2.556-.318 3.915.31.906.94 1.684 1.89 2.333C7.144 20.131 5 17.336 5 14.022c0-2.144.898-4.072 2.325-5.4.062 2.072.682 3.598 2.13 4.822-.67-1.112-.734-2.11-.734-3.517 0-3.253 2.067-6.007 4.913-6.927a7.35 7.35 0 0 0 2.157 4.918C17.722 9.214 19 11.463 19 14.022c0 3.073-1.844 5.7-4.447 6.758z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">热门分类</span>
                        </a>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                            <a type="button" class="Button GlobalSideBar-navLink Button--plain" href="/category/@category.Key">
                                <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                     fill="currentColor" viewBox="0 0 512 512" width="18" height="18">
                                    <g>
                                        <path d="M467,331h-15v-15c0-24.813-20.187-45-45-45H271v-30c14.095,0,30.95,0,45,0c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-30h45c24.813,0,45-20.187,45-45V45c0-24.813-20.187-45-45-45H166c-24.813,0-45,20.187-45,45v91c0,24.813,20.187,45,45,45h45v30h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15c14.05,0,30.905,0,45,0v30H105c-24.813,0-45,20.187-45,45v15H45c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31H45c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15H90v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45H90v-15c0-8.271,6.729-15,15-15h136v30h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45h-15v-30h136c8.271,0,15,6.729,15,15v15h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30C512,351.187,491.813,331,467,331z M105,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H105z M166,151c-8.271,0-15-6.729-15-15V45c0-8.271,6.729-15,15-15h180c8.271,0,15,6.729,15,15v91c0,8.271-6.729,15-15,15C309.96,151,201.911,151,166,151z M286,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H286z M241,211v-30h30v30H241z M482,406c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15h60c8.271,0,15,6.729,15,15V406z" />
                                    </g>
                                </svg><span class="GlobalSideBar-navText">@category.Key</span><span class="GlobalSideBar-navNumber">@category.Value</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M14.553 20.78c.862-.651 1.39-1.792 1.583-3.421.298-2.511-.656-4.904-2.863-7.179.209 2.291.209 3.73 0 4.314-.41 1.143-1.123 1.983-1.91 2.03-1.35.079-2.305-.512-2.863-1.774-.676 1.25-.782 2.556-.318 3.915.31.906.94 1.684 1.89 2.333C7.144 20.131 5 17.336 5 14.022c0-2.144.898-4.072 2.325-5.4.062 2.072.682 3.598 2.13 4.822-.67-1.112-.734-2.11-.734-3.517 0-3.253 2.067-6.007 4.913-6.927a7.35 7.35 0 0 0 2.157 4.918C17.722 9.214 19 11.463 19 14.022c0 3.073-1.844 5.7-4.447 6.758z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">热门标签</span>
                        </a>
                    </li>
                    @foreach (var tag in Model.Tags)
                    {
                        <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                            <a type="button" class="Button GlobalSideBar-navLink Button--plain" href="/tag/@tag.Key">
                                <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon" fill="currentColor" viewBox="0 0 425.7 425.7" width="18" height="18">
                                    <g><g><path d="M167.538,231.652c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C172.146,235.236,170.61,232.164,167.538,231.652z" /></g></g>
                                    <g><g><path d="M202.354,238.82c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C206.962,241.892,204.914,239.332,202.354,238.82z" /></g></g>
                                    <g><g><path d="M236.658,245.988c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C241.266,249.06,239.218,246.5,236.658,245.988z" /></g></g>
                                    <g><g><path d="M412.274,0.74c-2.56-1.536-5.632-0.512-7.168,1.536C367.218,65.764,313.97,108.26,275.57,132.324c-1.536,0-3.584,0-5.12,0l-55.296,4.096l-33.28-6.144c-10.24-2.048-20.48-1.024-30.208,3.072C110.706,107.236,57.97,65.252,20.594,2.788c-1.536-2.56-4.608-3.072-7.168-1.536S10.354,5.86,11.89,8.42c36.864,61.952,88.064,104.448,129.536,131.072c-10.752,7.68-17.92,18.944-20.48,31.744l-35.84,176.64c-5.632,27.648,12.288,55.296,39.936,60.928l77.824,15.872c3.584,0.512,6.656,1.024,10.24,1.024c17.92,0,34.816-9.728,44.032-25.088l32.768-2.56c12.8-1.024,24.576-7.168,33.28-16.896c8.704-9.728,12.8-22.528,11.776-35.328l-12.8-167.936c-1.536-19.456-14.848-35.84-32.256-41.984c38.4-26.112,88.064-67.584,123.904-128C415.346,5.348,414.834,2.276,412.274,0.74z M255.09,382.692c-5.632,20.992-27.136,35.328-49.664,31.232l-77.824-15.872c-22.528-4.608-36.864-26.624-32.256-48.64l35.84-176.64c2.048-10.752,8.704-19.968,17.92-26.112c1.024-0.512,1.536-1.024,2.56-1.536c19.456,11.776,35.84,19.968,46.592,25.088c-4.608,3.072-7.68,7.68-8.704,13.824c-1.024,5.632,0,11.776,3.072,16.896c3.072,5.12,8.192,8.192,13.824,9.728c1.536,0.512,3.072,0.512,4.608,0.512c4.096,0,8.704-1.024,12.288-3.584c5.12-3.072,8.192-8.192,9.728-13.824c1.024-5.632,0-11.776-3.072-16.896c-3.072-4.608-7.68-7.68-13.312-9.216c-0.512,0-22.016-8.192-52.224-26.112c2.56-0.512,5.632-1.024,8.192-1.024s5.632,0.512,8.192,1.024l77.824,15.872c22.528,4.608,36.864,26.624,32.256,48.64L255.09,382.692z M199.282,185.572c1.024-5.632,6.144-9.728,11.776-9.728c1.024,0,1.536,0,2.56,0c3.072,0.512,5.632,2.56,7.68,5.12c1.536,2.56,2.56,5.632,1.536,8.704c-0.512,3.072-2.56,5.632-5.12,7.68c-2.56,1.536-5.632,2.56-8.704,1.536c-3.072-0.512-5.632-2.56-7.68-5.12C199.282,191.716,198.77,188.644,199.282,185.572zM311.922,177.892l12.8,167.936c1.536,20.992-14.336,39.424-35.328,40.96l-27.136,2.048c0.512-2.048,1.024-3.584,1.536-5.632l12.8-62.976l1.536,25.6c0,2.56,2.56,4.608,5.12,4.608c0,0,0,0,0.512,0c3.072,0,5.12-2.56,4.608-5.632l-4.096-62.976l15.36-75.264c5.632-27.648-12.288-55.296-39.936-60.928l-8.704-1.536l19.456-1.536C291.954,141.028,310.386,156.9,311.922,177.892z" /></g></g>
                                </svg><span class="GlobalSideBar-navText">@tag.Key</span><span class="GlobalSideBar-navNumber">@tag.Value</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor" width="15" height="15" viewBox="0 0 512.001 512.001"><path d="m464.011719 124.664062c-4.019531-.976562-8.078125 1.496094-9.054688 5.523438-.976562 4.027344 1.496094 8.078125 5.523438 9.054688 21.5 5.210937 36.519531 24.324218 36.519531 46.484374 0 26.371094-21.453125 47.828126-47.828125 47.828126-26.207031 0-47.824219-21.285157-47.824219-47.828126 0-20.199218 12.78125-38.316406 31.804688-45.078124 3.902344-1.386719 5.941406-5.675782 4.554687-9.578126-1.386719-3.90625-5.679687-5.945312-9.578125-4.554687-7.664062 2.722656-14.554687 6.847656-20.425781 12.023437l-72.175781-64.613281c4.851562-7.492187 7.667968-16.414062 7.667968-25.984375 0-26.433594-21.507812-47.941406-47.941406-47.941406-26.4375 0-47.941406 21.507812-47.941406 47.941406 0 3.828125.449219 7.550782 1.300781 11.121094l-107.414062 44.296875c-2.132813-3.996094-4.632813-7.808594-7.476563-11.371094-2.582031-3.234375-7.300781-3.769531-10.539062-1.183593-3.238282 2.582031-3.769532 7.300781-1.1875 10.539062 8.3125 10.414062 13.082031 23.277344 13.082031 37.414062 0 33.101563-26.933594 60.035157-60.039063 60.035157-33.105468.003906-60.039062-26.929688-60.039062-60.035157 0-33.105468 26.933594-60.039062 60.039062-60.039062 8.488282 0 16.6875 1.734375 24.371094 5.148438 3.785156 1.683593 8.21875-.019532 9.902344-3.804688 1.679688-3.785156-.023438-8.214844-3.804688-9.898438-9.617187-4.277343-19.867187-6.445312-30.46875-6.445312-41.378906 0-75.039062 33.664062-75.039062 75.039062s33.660156 75.039063 75.039062 75.039063c2.238282 0 4.457032-.101563 6.648438-.292969l22.144531 115.886719c-27.660156 8.5625-47.8125 34.386719-47.8125 64.828125 0 37.40625 30.429688 67.839844 67.839844 67.839844 29.0625 0 53.914063-18.371094 63.554687-44.109375l77.664063 19.542969c.613281.15625 1.230469.230468 1.835937.230468 3.355469 0 6.410157-2.269531 7.269532-5.671875 1.007812-4.015625-1.429688-8.09375-5.445313-9.105469l-77.660156-19.539062c.410156-3.007812.621094-6.074219.621094-9.1875 0-15.839844-5.457031-30.425781-14.585938-41.984375l53.570313-55.542969c9.007812 5.488282 19.578125 8.65625 30.878906 8.65625 6.902344 0 13.535156-1.183594 19.707031-3.355468l60.253907 112.785156c-7.335938 5.816406-13.144532 13.476562-16.722657 22.277344l-24.652343-6.203126c-4.011719-1.011718-8.089844 1.425782-9.101563 5.445313-1.011719 4.015625 1.425781 8.089844 5.441406 9.101563l24.652344 6.203124c-.210937 1.9375-.320313 3.90625-.320313 5.898438 0 30.054688 24.449219 54.5 54.5 54.5 30.054688 0 54.5-24.445312 54.5-54.5 0-22.460938-13.65625-41.792969-33.105468-50.125l43.335937-159.480469c2.976563.4375 6.023438.660157 9.125.660157 34.640625 0 62.824219-28.183594 62.824219-62.824219 0-29.109375-19.734375-54.21875-47.988281-61.066407zm-183.226563 64.871094 13.417969-93.664062c11.410156.257812 22.457031-3.546875 31.3125-10.773438l72.191406 64.628906c-7.222656 10.332032-11.359375 22.828126-11.359375 36 0 5.953126.832032 11.714844 2.382813 17.171876l-70.84375 23.773437c-5.9375-17.390625-19.714844-31.183594-37.101563-37.136719zm14.46875-174.535156c18.164063 0 32.941406 14.777344 32.941406 32.941406 0 18.164063-14.777343 32.941406-32.941406 32.941406-18.203125 0-32.941406-14.816406-32.941406-32.941406 0-18.164062 14.777344-32.941406 32.941406-32.941406zm-40.90625 57.921875c5.730469 9.351563 14.578125 16.597656 25.089844 20.28125l-13.371094 93.316406c-1.488281-.113281-2.992187-.167969-4.507812-.167969-20.621094 0-38.824219 10.542969-49.503906 26.523438l-68.617188-43.265625c4.265625-9.417969 6.640625-19.863281 6.640625-30.851563 0-7.324218-1.085937-14.582031-3.167969-21.53125zm-157.925781 137.769531c16.066406-4.785156 29.894531-14.816406 39.484375-28.097656l69.429688 43.777344c-2.121094 6.105468-3.273438 12.660156-3.273438 19.476562 0 16.097656 6.421875 30.722656 16.84375 41.441406l-52.332031 54.261719c-11.667969-9.484375-26.542969-15.175781-42.71875-15.175781-1.78125 0-3.542969.070312-5.289063.203125zm27.433594 236.367188c-29.132813 0-52.839844-23.707032-52.839844-52.839844 0-29.273438 23.839844-52.84375 52.839844-52.84375 29.136719 0 52.839843 23.703125 52.839843 52.84375 0 29.132812-23.703124 52.839844-52.839843 52.839844zm93.207031-201.210938c0-24.535156 19.960938-44.496094 44.496094-44.496094 24.539062 0 44.5 19.960938 44.5 44.496094 0 24.539063-19.960938 44.5-44.5 44.5-24.535156 0-44.496094-19.960937-44.496094-44.5zm197.757812 211.652344c0 21.78125-17.71875 39.5-39.5 39.5s-39.5-17.71875-39.5-39.5 17.71875-39.5 39.5-39.5 39.5 17.71875 39.5 39.5zm-32.578124-54.0625c-2.265626-.289062-4.578126-.4375-6.921876-.4375-7.386718 0-14.433593 1.476562-20.863281 4.152344l-59.78125-111.894532c15.902344-10.695312 26.382813-28.851562 26.382813-49.410156 0-1.46875-.054688-2.921875-.160156-4.363281l73.664062-24.71875c6.960938 12.199219 17.886719 21.851563 31.011719 27.1875zm0 0" /><path d="m280.785156 238.347656h-11.179687v-11.175781c0-4.144531-3.359375-7.5-7.5-7.5-4.144531 0-7.5 3.355469-7.5 7.5v11.175781h-11.179688c-4.140625 0-7.5 3.359375-7.5 7.5 0 4.144532 3.359375 7.5 7.5 7.5h11.179688v11.179688c0 4.144531 3.355469 7.5 7.5 7.5 4.140625 0 7.5-3.355469 7.5-7.5v-11.179688h11.179687c4.140625 0 7.5-3.355468 7.5-7.5 0-4.140625-3.359375-7.5-7.5-7.5zm0 0" /></svg>
                            <span class="GlobalSideBar-navText">友情链接</span>
                        </a>
                    </li>
                    @foreach (var tag in Model.Tags)
                    {
                        <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                            <a type="button" class="Button GlobalSideBar-navLink Button--plain" href="/tag/@tag.Key">
                                <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor" width="15" height="15" viewBox="0 0 54.971 54.971">
                                    <g><path d="M51.173,3.801c-5.068-5.068-13.315-5.066-18.384,0l-9.192,9.192c-0.781,0.781-0.781,2.047,0,2.828c0.781,0.781,2.047,0.781,2.828,0l9.192-9.192c1.691-1.69,3.951-2.622,6.363-2.622c2.413,0,4.673,0.932,6.364,2.623s2.623,3.951,2.623,6.364c0,2.412-0.932,4.672-2.623,6.363L36.325,31.379c-3.51,3.508-9.219,3.508-12.729,0c-0.781-0.781-2.047-0.781-2.828,0s-0.781,2.048,0,2.828c2.534,2.534,5.863,3.801,9.192,3.801s6.658-1.267,9.192-3.801l12.021-12.021c2.447-2.446,3.795-5.711,3.795-9.192C54.968,9.512,53.62,6.248,51.173,3.801z" /><path d="M27.132,40.57l-7.778,7.778c-1.691,1.691-3.951,2.623-6.364,2.623c-2.412,0-4.673-0.932-6.364-2.623c-3.509-3.509-3.509-9.219,0-12.728L17.94,24.306c1.691-1.69,3.951-2.622,6.364-2.622c2.412,0,4.672,0.932,6.363,2.622c0.781,0.781,2.047,0.781,2.828,0s0.781-2.047,0-2.828c-5.067-5.067-13.314-5.068-18.384,0L3.797,32.793c-2.446,2.446-3.794,5.711-3.794,9.192c0,3.48,1.348,6.745,3.795,9.191c2.446,2.447,5.711,3.795,9.191,3.795c3.481,0,6.746-1.348,9.192-3.795l7.778-7.778c0.781-0.781,0.781-2.047,0-2.828S27.913,39.789,27.132,40.57z" /></g>
                                </svg>
                                <span class="GlobalSideBar-navText">@tag.Key</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    function WeChatShow() {
        document.getElementById("WeChat").style.display = "block";
    }

    function WeChatHide() {
        document.getElementById("WeChat").style.display = "none";
    }
</script>