@using iBlogs.Site.Core.Common.Service
@inject IViewService ViewService
@section scripts
{
    <script src="@ViewService.cdnURL()/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="@ViewService.cdnURL()/plugins/jquery-multi-select/jquery.quicksearch.js"></script>
    <script src="@ViewService.cdnURL()/plugins/mditor/js/mditor.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/wysihtml5/0.3.0/wysihtml5.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/summernote/0.8.2/summernote.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/vue-select/vue-select.js"></script>
    <script src="@ViewService.cdnURL()/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script src="@ViewService.cdnURL()/plugins/to-markdown/3.1.0/to-markdown.min.js"></script>
    <script src="/static/admin/js/new_article.js" asp-append-version="true"></script>
}
<link href="@ViewService.cdnURL()/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">
<link href="@ViewService.cdnURL()/plugins/toggles/toggles.css" rel="stylesheet">
<link href="@ViewService.cdnURL()/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="@ViewService.cdnURL()/plugins/mditor/css/mditor.min.css" rel="stylesheet" />
<link href="@ViewService.cdnURL()/plugins/summernote/0.8.2/summernote.css" rel="stylesheet">
<link href="@ViewService.cdnURL()/plugins/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">

<style rel="stylesheet">
    #tags_tagsinput {
        background-color: #fafafa;
        border: 1px solid #eeeeee;
    }

    #tags_addTag input {
        width: 100%;
    }

    #tags_addTag {
        margin-top: -5px;
    }

    .mditor .editor {
        font-size: 14px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .mditor .backdrop, .mditor .textarea, .mditor .viewer {
        font-size: 14px;
    }

    .markdown-body {
        font-size: 14px;
    }

    .note-toolbar {
        text-align: center;
    }

    .note-editor.note-frame {
        border: none;
    }

    .note-editor .note-toolbar {
        background-color: #f5f5f5;
        padding-bottom: 10px;
    }

    .note-toolbar .note-btn-group {
        margin: 0;
    }

    .note-toolbar .note-btn {
        border: none;
    }

    #articleForm #dropzone {
        min-height: 200px;
        background-color: #dbdde0;
        line-height: 200px;
        margin-bottom: 10px;
    }

    #articleForm .dropzone {
        border: 1px dashed #8662c6;
        border-radius: 5px;
        background: white;
    }

        #articleForm .dropzone .dz-message {
            font-weight: 400;
        }

            #articleForm .dropzone .dz-message .note {
                font-size: 0.8em;
                font-weight: 200;
                display: block;
                margin-top: 1.4rem;
            }
</style>
<div id="app" class="row" v-cloak>
    <loading :active.sync="isLoading" :can-cancel="true"></loading>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">发布文章</h3>
            </div>
            <div class="panel-body">
                <input type="hidden" id="attach_url" value="@ViewService.attachURL()" />
                <form id="articleForm">
                    <input type="hidden" v-model="article.id" />
                    <input type="hidden" v-model="article.created" />
                    <input type="hidden" v-model="article.status" />
                    <input type="hidden" v-model="article.allowCommentDto" />
                    <input type="hidden" v-model="article.allowPing" />
                    <input type="hidden" v-model="article.allowFeed" />
                    <input type="hidden" v-model="article.fmtType" />
                    <input type="hidden" v-model="article.tags" />

                    <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                        <input class="form-control" placeholder="请输入文章标题（必须）" v-model="article.title" required />
                    </div>

                    <div class="form-group col-md-6" style="padding: 0 0 0 10px;">
                        <input class="form-control" placeholder="自定义访问路径，如：my-first-article  默认为文章id" v-model="article.slug" />
                    </div>

                    <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                        <input id="tags" type="text" class="form-control" placeholder="请填写文章标签" />
                    </div>

                    <div class="form-group col-md-6">
                        <v-select multiple v-model="article.selected" :options="categories"></v-select>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group col-xs-12">
                        <div class="pull-right">
                            <button class="btn btn-purple btn-sm waves-effect waves-light switch-editor" click="switchEditor">
                                切换为富文本编辑器
                            </button>
                        </div>
                    </div>

                    <div id="md-container" v-show="article.fmtType == 'markdown'" class="form-group col-md-12">
                        <textarea id="md-editor"></textarea>
                    </div>
                    <div id="html-container" v-show="article.fmtType == 'html'" class="form-group col-md-12">
                        <div class="summernote"></div>
                    </div>

                    <div class="form-group col-md-3 col-xs-4">
                        <label class="col-sm-4">开启评论</label>
                        <div class="col-sm-8">
                            <div id="allowComment" class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-xs-4">
                        <label class="col-sm-4">允许Ping</label>
                        <div class="col-sm-8">
                            <div id="allowPing" class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-xs-4">
                        <label class="col-sm-4">允许订阅</label>
                        <div class="col-sm-8">
                            <div id="allowFeed" class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-xs-12">
                        <label class="col-sm-5">添加缩略图</label>
                        <div class="col-sm-7">
                            <div id="addThumb" class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div id="dropzone-container" class="form-group col-md-12 hide">
                        <div class="dropzone dropzone-previews" id="dropzone">
                            <div class="dz-message">
                                <p>可以为你的文章添加一张缩略图 ;)</p>
                            </div>
                        </div>
                        <input type="hidden" name="thumbImg" id="thumbImg" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group col-md-6">
                        <div class="text-left">
                            <label class="col-sm-2 control-label" style="line-height: 30px;">发布时间</label>
                            <div class="col-sm-9 input-append date form_datetime">
                                <input v-model="article.createdTime" style="width: 150px;" size="16" type="text" readonly class="form-control" id="form_datetime">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="text-right">
                            <a class="btn btn-default waves-effect waves-light" href="/admin/article">返回列表</a>
                            <button type="button" class="btn btn-primary waves-effect waves-light" v-on:click="Publish('Publish')">
                                发布文章
                            </button>
                            <button type="button" class="btn btn-warning waves-effect waves-light" v-on:click="Publish('draft')">
                                存为草稿
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
