@model IndexViewModel
<main role="main" class="App-main">
    <div class="Topstory">
        <div class="Topstory-container">
            <div class="Topstory-mainColumn">
                <div class="Card Topstory-noMarginCard Topstory-tabCard">
                    <nav class="TopstoryTabs Topstory-tabs">
                        @if (string.IsNullOrEmpty(Model.DisplayType))
                        {
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Index"?"is-active":"")" href="/">时间</a>
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Hot"?"is-active":"")" href="/hot">热度</a>
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Random"?"is-active":"")" href="/random">随机</a>
                        }
                        else
                        {
                            <a class="TopstoryTabs-link Topstory-tabsLink is-active" href="@(Model.DisplayType == "标签" ? "/alltags" : "/allcategories")">
                                @if (Model.DisplayType == "标签")
                                {
                                    <svg class="Zi Zi--Live"
                                         fill="currentColor" viewBox="0 0 24 24" width="24"
                                         height="24" style="color: rgb(0, 132, 255);">
                                        <path d="M10.786 8.41a8.938 8.938 0 0 0-3.968-2.528c-.305-1.719.814-3.337 2.442-3.741 1.221-.405 2.646.101 3.46 1.011 1.045 1.38.915 3.64.814 4.348-.102 1.315-1.221 3.034-1.323 3.135-.305-.809-.814-1.517-1.425-2.225zm-2.442 2.832c-1.526.202-3.052 1.01-4.171 2.123-1.12-.404-1.934-1.314-2.137-2.427-.316-2.427 1.526-3.64 2.849-3.842 1.628-.371 2.849.505 4.07 1.415 1.146 1.012 2.035 2.63 2.035 2.73-.916-.202-1.832-.1-2.646 0zm4.986.303c.509-.607.931-1.586 1.12-2.225.318-1.039.61-3.134.203-4.651 1.323-1.011 3.154-1.011 4.477.303 1.235 1.146 1.017 2.933.814 3.438-.663 1.581-1.933 2.326-3.256 2.832-1.221.404-3.256.303-3.358.303zm-2.645 1.011c-.51.607-.916 1.416-1.221 2.326-.407 1.314-.643 3.06-.102 4.55-1.323 1.011-3.256 1.011-4.477-.202-1.198-1.124-1.018-2.932-.814-3.438.599-1.605 1.933-2.326 3.256-2.831.916-.304 3.256-.405 3.358-.405zm9.259-1.82c1.017.404 1.933 1.315 2.035 2.427.233 2.57-1.526 3.64-2.849 3.842-1.526 0-2.85-.505-4.07-1.415-1.018-.81-2.035-2.528-2.035-2.63.916.203 1.831.102 2.645 0 1.628-.404 3.053-1.112 4.274-2.224zm-6.716 4.854c1.065 1.08 2.442 2.022 4.07 2.528.306 1.719-.814 3.235-2.442 3.741-1.22.405-2.645-.101-3.46-1.011-1.1-1.481-1.017-3.54-.915-4.247.102-1.315 1.221-3.034 1.323-3.135.305.708.721 1.44 1.424 2.124z">
                                        </path>
                                    </svg>
                                }
                                else
                                {
                                    <svg class="Zi Zi--Live"
                                         fill="currentColor" viewBox="0 0 24 24" width="24"
                                         height="24" style="color: rgb(67, 212, 128);">
                                        <path d="M16 17.649V2.931a.921.921 0 0 0-.045-.283.943.943 0 0 0-1.182-.604L4.655 5.235A.932.932 0 0 0 4 6.122v14.947c0 .514.421.931.941.931H19.06c.52 0 .941-.417.941-.93V7.292a.936.936 0 0 0-.941-.931h-.773v12.834a.934.934 0 0 1-.83.924L6.464 21.416c-.02.002 2.94-.958 8.883-2.881a.932.932 0 0 0 .653-.886z">
                                        </path>
                                    </svg>
                                }

                                @Model.DisplayType
                            </a>
                            <span class="TagsHeader">
                                # @Model.DisplayMeta #
                            </span>
                        }
                    </nav>
                </div>
                <div id="TopstoryContent" class="Topstory-content">
                    <div class="ListShortcut">
                        <div class="Topstory-recommend">
                            <div class="">
                                @{
                                    foreach (var article in Model.Contents.Rows)
                                    {
                                        <div class="Card TopstoryItem TopstoryItem-isRecommend" tabindex="0">
                                            <div class="Feed">
                                                <div class="ContentItem AnswerItem">
                                                    <h2 class="ContentItem-title">
                                                        <div itemprop="Blogs:question" itemtype="http://schema.org/Question" itemscope="">
                                                            <a data-za-detail-view-element_name="Title" data-za-detail-view-id="2812" href="@article.Permalink()">@article.Title</a>
                                                        </div>
                                                    </h2>
                                                    <div class="RichContent is-collapsed">
                                                        <div class="RichContent-cover">
                                                            <div class="RichContent-cover-inner"><img src="@article.ShowThumb()" alt="image"></div>
                                                        </div>
                                                        <div class="RichContent-inner">
                                                            <span class="RichText ztext CopyrightRichText-richText" itemprop="text">
                                                                @Html.Raw(article.Intro())
                                                            </span>
                                                            <a class="Button ContentItem-more Button--plain" href="@article.Permalink()">
                                                                阅读全文
                                                            </a>
                                                        </div>
                                                        <div class="ContentItem-actions">
                                                            <button type="button" class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel">
                                                                <span style="display: inline-flex; align-items: center;">
                                                                    <svg class="Zi Zi--Comment Button-zi"
                                                                         fill="currentColor" viewBox="0 0 24 24"
                                                                         width="1.2em" height="1.2em">
                                                                        <path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                </span>评论(@article.CommentsNum)
                                                            </button>
                                                            <button type="button" class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel">
                                                                <span style="display: inline-flex; align-items: center;">
                                                                    <svg class="Zi Zi--Heart Button-zi"
                                                                         fill="currentColor" viewBox="0 0 24 24"
                                                                         width="1.2em" height="1.2em">
                                                                        <path d="M2 8.437C2 5.505 4.294 3.094 7.207 3 9.243 3 11.092 4.19 12 6c.823-1.758 2.649-3 4.651-3C19.545 3 22 5.507 22 8.432 22 16.24 13.842 21 12 21 10.158 21 2 16.24 2 8.437z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                </span>阅读(@article.Hits)
                                                            </button>
                                                            <div class="Popover ShareMenu ContentItem-action">
                                                                <div class="ShareMenu-toggler" id="Popover11-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover11-content">
                                                                    <button type="button" class="Button Button--plain Button--withIcon Button--withLabel">
                                                                        <span style="display: inline-flex; align-items: center;">
                                                                            <svg class="Zi Zi--Share Button-zi"
                                                                                 fill="currentColor"
                                                                                 viewBox="0 0 24 24" width="1.2em"
                                                                                 height="1.2em">
                                                                                <path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z"
                                                                                      fill-rule="evenodd"></path>
                                                                            </svg>
                                                                        </span>@article.CreatedStr("MM/dd/yyyy hh:mm tt")
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="lists-navigator clearfix">
                    @{ var pageInfo = Model.Contents;
                        <ol class="page-navigator">
                            @if (pageInfo.HasPrevPage)
                            {
                                <li class="prev"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@pageInfo.PrevPage">←</a></li>
                            }

                            @foreach (var navIndex in pageInfo.NavPageNums)
                            {
                                <li class="@(pageInfo.PageNum==navIndex?"current":"")"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@navIndex">@navIndex</a></li>
                            }

                            @if (pageInfo.HasNextPage)
                            {
                                <li class="next"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@pageInfo.NextPage">→</a></li>
                            }
                        </ol>
                    }
                </div>
            </div>
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
</main>