@model IndexViewModel
<main role="main" class="App-main">
    <div class="Topstory">
        <div class="Topstory-container">
            <div class="Topstory-mainColumn">
                <div class="Card Topstory-noMarginCard Topstory-tabCard">
                    <nav class="TopstoryTabs Topstory-tabs">
                        @if (string.IsNullOrEmpty(Model.DisplayType))
                        {
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Index"?"is-active":"")" href="/">时间</a>
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Hot"?"is-active":"")" href="/hot">热度</a>
                            <a class="TopstoryTabs-link Topstory-tabsLink @(!string.IsNullOrWhiteSpace(Model.OrderType)&&Model.OrderType=="Random"?"is-active":"")" href="/random">随机</a>
                        }
                        else
                        {
                            <a class="TopstoryTabs-link Topstory-tabsLink is-active" href="@(Model.DisplayType == "标签" ? "/alltags" : "/allcategories")">
                                @if (Model.DisplayType == "标签")
                                {
                                    <svg class="Zi Zi--Live" fill="currentColor" style="color: rgb(0, 132, 255);" viewBox="0 0 425.7 425.7" width="24" height="24">
                                        <g><g><path d="M167.538,231.652c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C172.146,235.236,170.61,232.164,167.538,231.652z" /></g></g>
                                        <g><g><path d="M202.354,238.82c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C206.962,241.892,204.914,239.332,202.354,238.82z" /></g></g>
                                        <g><g><path d="M236.658,245.988c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C241.266,249.06,239.218,246.5,236.658,245.988z" /></g></g>
                                        <g><g><path d="M412.274,0.74c-2.56-1.536-5.632-0.512-7.168,1.536C367.218,65.764,313.97,108.26,275.57,132.324c-1.536,0-3.584,0-5.12,0l-55.296,4.096l-33.28-6.144c-10.24-2.048-20.48-1.024-30.208,3.072C110.706,107.236,57.97,65.252,20.594,2.788c-1.536-2.56-4.608-3.072-7.168-1.536S10.354,5.86,11.89,8.42c36.864,61.952,88.064,104.448,129.536,131.072c-10.752,7.68-17.92,18.944-20.48,31.744l-35.84,176.64c-5.632,27.648,12.288,55.296,39.936,60.928l77.824,15.872c3.584,0.512,6.656,1.024,10.24,1.024c17.92,0,34.816-9.728,44.032-25.088l32.768-2.56c12.8-1.024,24.576-7.168,33.28-16.896c8.704-9.728,12.8-22.528,11.776-35.328l-12.8-167.936c-1.536-19.456-14.848-35.84-32.256-41.984c38.4-26.112,88.064-67.584,123.904-128C415.346,5.348,414.834,2.276,412.274,0.74z M255.09,382.692c-5.632,20.992-27.136,35.328-49.664,31.232l-77.824-15.872c-22.528-4.608-36.864-26.624-32.256-48.64l35.84-176.64c2.048-10.752,8.704-19.968,17.92-26.112c1.024-0.512,1.536-1.024,2.56-1.536c19.456,11.776,35.84,19.968,46.592,25.088c-4.608,3.072-7.68,7.68-8.704,13.824c-1.024,5.632,0,11.776,3.072,16.896c3.072,5.12,8.192,8.192,13.824,9.728c1.536,0.512,3.072,0.512,4.608,0.512c4.096,0,8.704-1.024,12.288-3.584c5.12-3.072,8.192-8.192,9.728-13.824c1.024-5.632,0-11.776-3.072-16.896c-3.072-4.608-7.68-7.68-13.312-9.216c-0.512,0-22.016-8.192-52.224-26.112c2.56-0.512,5.632-1.024,8.192-1.024s5.632,0.512,8.192,1.024l77.824,15.872c22.528,4.608,36.864,26.624,32.256,48.64L255.09,382.692z M199.282,185.572c1.024-5.632,6.144-9.728,11.776-9.728c1.024,0,1.536,0,2.56,0c3.072,0.512,5.632,2.56,7.68,5.12c1.536,2.56,2.56,5.632,1.536,8.704c-0.512,3.072-2.56,5.632-5.12,7.68c-2.56,1.536-5.632,2.56-8.704,1.536c-3.072-0.512-5.632-2.56-7.68-5.12C199.282,191.716,198.77,188.644,199.282,185.572zM311.922,177.892l12.8,167.936c1.536,20.992-14.336,39.424-35.328,40.96l-27.136,2.048c0.512-2.048,1.024-3.584,1.536-5.632l12.8-62.976l1.536,25.6c0,2.56,2.56,4.608,5.12,4.608c0,0,0,0,0.512,0c3.072,0,5.12-2.56,4.608-5.632l-4.096-62.976l15.36-75.264c5.632-27.648-12.288-55.296-39.936-60.928l-8.704-1.536l19.456-1.536C291.954,141.028,310.386,156.9,311.922,177.892z" /></g></g>
                                    </svg>
                                }
                                else
                                {
                                    <svg class="Zi Zi--Live" fill="currentColor" style="color: rgb(67, 212, 128);" viewBox="0 0 512 512" width="24" height="24">
                                        <g>
                                            <path d="M467,331h-15v-15c0-24.813-20.187-45-45-45H271v-30c14.095,0,30.95,0,45,0c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-30h45c24.813,0,45-20.187,45-45V45c0-24.813-20.187-45-45-45H166c-24.813,0-45,20.187-45,45v91c0,24.813,20.187,45,45,45h45v30h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15c14.05,0,30.905,0,45,0v30H105c-24.813,0-45,20.187-45,45v15H45c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31H45c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15H90v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45H90v-15c0-8.271,6.729-15,15-15h136v30h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30c0-24.813-20.187-45-45-45h-15v-30h136c8.271,0,15,6.729,15,15v15h-15c-24.813,0-45,20.187-45,45v30c0,24.813,20.187,45,45,45h15v31h-15c-8.284,0-15,6.716-15,15s6.716,15,15,15h60c8.284,0,15-6.716,15-15s-6.716-15-15-15h-15v-31h15c24.813,0,45-20.187,45-45v-30C512,351.187,491.813,331,467,331z M105,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H105z M166,151c-8.271,0-15-6.729-15-15V45c0-8.271,6.729-15,15-15h180c8.271,0,15,6.729,15,15v91c0,8.271-6.729,15-15,15C309.96,151,201.911,151,166,151z M286,361c8.271,0,15,6.729,15,15v30c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15H286z M241,211v-30h30v30H241z M482,406c0,8.271-6.729,15-15,15h-60c-8.271,0-15-6.729-15-15v-30c0-8.271,6.729-15,15-15h60c8.271,0,15,6.729,15,15V406z" />
                                        </g>
                                    </svg>
                                }

                                &nbsp @Model.DisplayType
                            </a>
                            <span class="TagsHeader">
                                # @Model.DisplayMeta #
                            </span>
                        }
                    </nav>
                </div>
                <div id="TopstoryContent" class="Topstory-content">
                    <div class="ListShortcut">
                        <div class="Topstory-recommend">
                            <div class="">
                                @{
                                    foreach (var article in Model.Contents.Rows)
                                    {
                                        <div class="Card TopstoryItem TopstoryItem-isRecommend" tabindex="0">
                                            <div class="Feed">
                                                <div class="ContentItem AnswerItem">
                                                    <h2 class="ContentItem-title">
                                                        <div itemprop="Blogs:question" itemtype="http://schema.org/Question" itemscope="">
                                                            <a data-za-detail-view-element_name="Title" data-za-detail-view-id="2812" href="@article.Permalink()">@article.Title</a>
                                                        </div>
                                                    </h2>
                                                    <div class="RichContent is-collapsed">
                                                        <div class="RichContent-cover">
                                                            <div class="RichContent-cover-inner"><img src="@article.ShowThumb()" alt="image"></div>
                                                        </div>
                                                        <div class="RichContent-inner">
                                                            <span class="RichText ztext CopyrightRichText-richText" itemprop="text">
                                                                @Html.Raw(article.Intro())
                                                            </span>
                                                            <a class="Button ContentItem-more Button--plain" href="@article.Permalink()">
                                                                阅读全文
                                                            </a>
                                                        </div>
                                                        <div class="ContentItem-actions">
                                                            <button type="button" class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel">
                                                                <span style="display: inline-flex; align-items: center;">
                                                                    <svg class="Zi Zi--Comment Button-zi"
                                                                         fill="currentColor" viewBox="0 0 24 24"
                                                                         width="1.2em" height="1.2em">
                                                                        <path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                </span>评论(@article.CommentsNum)
                                                            </button>
                                                            <button type="button" class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel">
                                                                <span style="display: inline-flex; align-items: center;">
                                                                    <svg class="Zi Zi--Heart Button-zi"
                                                                         fill="currentColor" viewBox="0 0 24 24"
                                                                         width="1.2em" height="1.2em">
                                                                        <path d="M2 8.437C2 5.505 4.294 3.094 7.207 3 9.243 3 11.092 4.19 12 6c.823-1.758 2.649-3 4.651-3C19.545 3 22 5.507 22 8.432 22 16.24 13.842 21 12 21 10.158 21 2 16.24 2 8.437z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                </span>阅读(@article.Hits)
                                                            </button>
                                                            <div class="Popover ShareMenu ContentItem-action">
                                                                <div class="ShareMenu-toggler" id="Popover11-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover11-content">
                                                                    <button type="button" class="Button Button--plain Button--withIcon Button--withLabel">
                                                                        <span style="display: inline-flex; align-items: center;">
                                                                            <svg class="Zi Zi--Share Button-zi"
                                                                                 fill="currentColor"
                                                                                 viewBox="0 0 24 24" width="1.2em"
                                                                                 height="1.2em">
                                                                                <path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z"
                                                                                      fill-rule="evenodd"></path>
                                                                            </svg>
                                                                        </span>@article.CreatedStr("MM/dd/yyyy hh:mm tt")
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="lists-navigator clearfix">
                    @{ var pageInfo = Model.Contents;
                        <ol class="page-navigator">
                            @if (pageInfo.HasPrevPage)
                            {
                                <li class="prev"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@pageInfo.PrevPage">←</a></li>
                            }

                            @foreach (var navIndex in pageInfo.NavPageNums)
                            {
                                <li class="@(pageInfo.PageNum==navIndex?"current":"")"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@navIndex">@navIndex</a></li>
                            }

                            @if (pageInfo.HasNextPage)
                            {
                                <li class="next"><a href="/index/@Model.OrderType/@(!string.IsNullOrWhiteSpace(Model.DisplayMeta)?Model.DisplayMeta+'/':"")@pageInfo.NextPage">→</a></li>
                            }
                        </ol>
                    }
                </div>
            </div>
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
</main>